body {
  
	  background-image: url("../resources/game_over.png");
	background-position: center;
	background-size: 100%;
}


#fondDuJeu{
  
  width: 600px;
  height: 500px;
  position: absolute;
  z-index: 0;
  border-radius: 10px;
  display: none;
}

#a {
	position: absolute;
	top: 75%;
	left: 49%;
	margin-top: -86px;
	margin-left: -12%;
	text-align: center;
	filter: none;
}

#q {
	position: absolute;
	top: 75%;
	left: 49%;
	margin-top: -86px;
	margin-left: 2%;
	text-align: center;
	filter: none;
}





a {
	-webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	display: block;
	margin: 20px auto;
	max-width: 180px;
	text-decoration: none;
	border-radius: 4px;
	padding: 20px 30px;
	font-family: Arial, sans-serif;
	font-weight: bold;
	font-size: 30px;
}

a#button {
	color: pink;
	box-shadow:rgba(52, 10, 73, 0.88) 0 0px 0px 2px inset;
}

a#button:hover {
	color: rgba(255, 255, 255, 0.85);
	box-shadow: rgba(30, 22, 54, 0.7) 0 0px 0px 40px inset;
}


